<header style="font-weight:bold; font-size:13px;">
    <div style="display:flex; align-items:center;">
        <div>
            <img src="/files/bom-logo.jpg" style="width:60px;margin-right:10px;" />
        </div>
        <div style="">
            <p style="text-align:center;font-size:20px;margin-left:22px;font-family: 'NotoMyanmar';
        src: url('/files/NotoSansMyanmar-Regular.ttf');">Best of Me</p>
        </div>
    </div>
    <p style="text-align:center;">Online Shopping</p>
    <p style="text-align:center;">အထည်အလိပ်အမျိုးမျိုးရောင်းဝယ်ရေး</p>
    <p style="text-align:center;">အိမ်အမှတ် (၁၈၁)/၃၃လမ်း - ၇၆x၇၇လမ်းကြား။</p>
    <p style="text-align:center;">ချမ်းအေးသာစံမြို့နယ်၊မန္တလေးမြို့။</p>
    <p style="text-align:center;">09-891200729</p>
</header>

<div style="display:flex; justify-content:space-between; font-size:11px; font-weight:bold;">
    <div>
        <p>Doc No  :  <span style="font-size:9px;">{{doc.name}}</span></p>
        <p style="margin-top:6px;">Sales Person  :  <span style="font-size:9px;">{{doc.custom_sales_person}}</span></p>
    </div>
    
    <div>
        <p>Date  :   <span style="font-size:9px;">{{ frappe.utils.formatdate(doc.posting_date, "dd-MMM-yyyy") }}</span></p>
        <p style="margin-top:6px;">Remark  :  <span style="font-size:9px;">{% if doc.custom_remark %}
                        {{ doc.custom_remark }}
                    {% else %}-{% endif %}</span></p>
    </div>
</div>

<div style="font-size:11px; font-weight:bold;">
    <p>Customer  :  {{doc.customer_name}} </p>
    <p style="margin-top:6px;">Phone No  :  {% set customer = frappe.get_doc("Customer", doc.customer) %}
                      {% if customer.custom_ph_number %}
                        {{ customer.custom_ph_number }}
                    {% else %}-{% endif %} </p>
    <p style="margin-top:6px;">Address  :  {% set customer = frappe.get_doc("Customer", doc.customer) %}
                      {% if customer.custom_address %}
                        {{ customer.custom_address }}
                    {% else %}-{% endif %} </p>
</div>

<div style="font-size:11px;">
    <table style="width:100%;font-size:11px;font-weight:bold;">
        <tr style="background: #e3e3e3;font-weight:bold;text-align:center;border-top:0.5px solid black;border-bottom:0.5px solid black;">
            <td>အမျိုးအမည်</td>
            <td>ဦးရေ</td>
            <td>နှုန်း</td>
            <td>သင့်ငွေ</td>
        </tr>
        
        {%- for row in doc.items -%}
        <tr style="font-weight:bold;">
            <td>{{row.item_name}}</td>
            <td style="text-align:end;">{{ frappe.format(row.qty, {"fieldtype":"Float", "precision": row.precision("qty")}) }}</td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(row.rate, precision=0) }}</td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(row.amount, precision=0) }}</td>
        </tr>
        {% endfor %}
        
        <tr style="background: #e3e3e3;border-top:0.5px solid black;">
            <td>စုစုပေါင်း</td>
            <td></td>
            <td></td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(doc.total or doc.net_total, precision=0) }}</td>
        </tr>
        <tr style="border-top:0.5px solid black;">
            <td>လျှော့ငွေ </td>
            <td></td>
            <td></td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(doc.discount_amount, precision=0) }}</td>
        </tr>
        <tr style="background: #e3e3e3;border-top:0.5px solid black;">
            <td>ကျသင့်ငွေ</td>
            <td></td>
            <td></td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(doc.grand_total, precision=0) }}</td>
        </tr>
        <tr style="border-top:0.5px solid black;">
            <td>ပေးငွေ </td>
            <td></td>
            <td></td>
            <td style="text-align:end;">{{ frappe.utils.fmt_money(doc.paid_amount, precision=0) }}</td>
        </tr>
        <tr style="text-align:center;border-top:0.5px solid black;">
            <td colspan="4">
                <<< Thank You! >>>
            </td>
        </tr>
        <tr style="text-align:center;">
            <td colspan="4">
                        မိမိစိတ်တိုင်းကျ ဝယ်ယူပြီးပစ္စည်းများကို ပြန်မလဲပေးပါ။
                        <p>ဝယ်ယူအားပေးအမှုအတွက် ကျေးဇူးတင်ပါသည်။</p>
            </td>
        </tr>
    </table>
</div>





