<style>
    * {
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        box-sizing: border-box;
    }
</style>
<header style="display:flex;justify-content:space-between;">
    <div>
        <div style="display:flex;">
            <img src="/files/bom-logo.jpg" style="width:100px;" />
            <p style="font-weight:bold; font-size:14px;">Online Shopping</p>
        </div>
        <div style="font-size:10px; padding-left:10px;">
            <p>အိမ်အမှတ် (၁၈၁)/၃၃လမ်း - ၇၆x၇၇လမ်းကြား။</p>
            <p>ချမ်းအေးသာစံမြို့နယ်၊မန္တလေးမြို့။</p>
            <p>09-891200729, 09-784630180</p>
            <p>09-755646012, 09-965450604</p>
        </div>
    </div>
    
    <div>
        <table>
            <tr>
                <td style="font-weight:bold;">အမည်</td>
                <td>:</td>
                <td style="border-bottom: 1px dotted black; width:150px;">{{ doc.customer_name }}</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">နေ့စွဲ</td>
                <td>:</td>
                <td style="border-bottom: 1px dotted black; width:150px;">{{ frappe.utils.formatdate(doc.posting_date, "dd-MMM-yyyy") }}</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">နံပါတ်</td>
                <td>:</td>
                <td style="border-bottom: 1px dotted black; width:150px;">{{doc.name}}</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">ပေးချေပုံ</td>
                <td>:</td>
                <td style="border-bottom: 1px dotted black; width:150px;">{{doc.sales_invoice_type}}</td>
            </tr>
        </table>
    </div>
</header>
<div>
    <div>
        <table style="">
            <tr>
                <td style="font-weight:bold;">မှတ်ချက်</td>
                <td>:</td>
                <td style="width: 100%;"> 
                    {% if doc.custom_remark %}
                        {{ doc.custom_remark }}
                    {% endif %}
                    <hr style="border-bottom: 1px dotted black;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-top:-10px;">
        <table class="items" style="width:100%;">
            <thead style="background: #bfb6fa; border: 1px solid black;">
                <th style="text-align:center; color: black; border: 1px solid black; font-weight: bold;">စဥ်</th>
                <th style="text-align:center; color: black; border: 1px solid black; width: 450px; font-weight: bold;">အမျိုးအမည်</th>
                <th style="text-align:center; color: black; border: 1px solid black; font-weight: bold;">အရေအတွက်</th>
                <th style="text-align:center; color: black; border: 1px solid black; width: 150px; font-weight: bold;">နှုန်း</th>
                <th style="text-align:center; color: black; border: 1px solid black; width: 150px; font-weight: bold;">သင့်ငွေ</th>
            </thead>
            <tbody>
                {% for row in doc.items %}
            <tr>
                <td class="num" style="border:1px solid black;">{{ loop.index }}</td>
                <td style="border: 1px solid black;">
                  {{ row.item_name }}
                  {% if row.description and row.description.strip() and row.description.strip() != row.item_name %}
                    <div class="muted" style="font-size:10px;">{{ row.description }}</div>
                  {% endif %}
                </td>
                <td class="qty" style="text-align:end; border:1px solid black;">{{ frappe.format(row.qty, {"fieldtype":"Float", "precision": row.precision("qty")}) }}</td>
                <td class="rate" style="text-align:end; border:1px solid black;">
                  {{ frappe.utils.fmt_money(row.rate, precision=0) }}
                </td>
                <td class="amt" style="text-align:end; border:1px solid black;">
                  {{ frappe.utils.fmt_money(row.amount, precision=0) }}
                </td>
            </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td style="border:1px solid black; font-weight: bold;">စုစုပေါင်း</td>
                    <td style="border:1px solid black; text-align: end;">{{ frappe.utils.fmt_money(doc.total or doc.net_total, precision=0) }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="border:1px solid black; font-weight: bold;">လျှော့ငွေ</td>
                    <td style="border:1px solid black;text-align:end;">{{ frappe.utils.fmt_money(doc.discount_amount, precision=0) }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="border:1px solid black; font-weight: bold;">စုစုပေါင်းတန်ဖိုး</td>
                    <td style="border:1px solid black;text-align:end;">{{ frappe.utils.fmt_money(doc.grand_total, precision=0) }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="border:1px solid black; font-weight: bold;">စရံငွေ (လက်ငင်း)</td>
                    <td style="border:1px solid black;text-align:end;">{{ frappe.utils.fmt_money(doc.paid_amount, precision=0) }}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="border:1px solid black; font-weight: bold;">ကျန်ငွေ</td>
                    <td style="border:1px solid black;text-align:end;">{{ frappe.utils.fmt_money(doc.outstanding_amount, precision=0) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>